

body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    padding: 20px;
   
}

h1 {
    color: #2e8b57;
    text-align: center;
}

h2 {
    text-align:center;

}

.h2-paises {
    color: darkblue;
}

p {
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
ul li {
    line-height: 2em;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: darkblue;
}

a {
    color: #2e8b57;
    text-decoration: none;
    font-weight: bold;
}

img {
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.centralizado {
    text-align: center;
}

.table-container {
    overflow-y: auto;
    border:3px solid #ccc;
    max-height: 500px;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: rgba(221, 221, 221, 0.8);
}


thead {
    position: sticky;
    top: 0;
    background-color: #ddd;
    z-index: 2;
}

a:hover {
    color: #ff4500;
}

button {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #1e6840;
}